
{% extends "spicy/header.html" %}

{% block title %}
Category :: Liquorfox
{%endblock title%}

{% block content %}

<!-- CONTENT -->
<div id="content_holder">
  <div class="inner">
    <div class="breadcrumb"> <a href="{% url index %}">Home</a> » Account Login</div>
    <h2 class="heading-title"><span>Account Login</span></h2>
    
    <!-- RIGHT COLUMN -->
    <div id="column-right">
      <div class="box">
        <h3 class="heading-title"><span>My Account</span></h3>
	{% if user.is_authenticated %}
	<div id="welcome"> Welcome  <a href="#">{% firstof user.first_name user.username %}</a> </div>
        <div class="box-content box-account">
          <ul>
            <li><a class="active" href="#">Login</a></li>
            <li><a href="#">Register</a></li>
            <li><a href="#">Forgotten Password</a></li>
            <li><a href="#">My Account</a></li>
            <li><a href="#">Wish List</a></li>
            <li><a href="#">Order History</a></li>
            <li><a href="#">Returns</a></li>
            <li><a href="#">Transactions</a></li>
            <li><a href="#">Newsletter</a></li>
          </ul>
        </div>
	{% endif %}

      </div>
    </div>
    <!-- END OF RIGHT COLUMN -->
    
    <div id="content" class="content-column-right">
      <div class="content account-page">
	{% if not user.is_authenticated %}
        <div class="box-login">
          <div class="box-content fixed">

            <div class="stitched"></div>
            <div class="left">
              <h6>Register Account</h6>
              <p>By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</p>
              <a class="button" id="button-contact"><span>Continue</span></a>
	    </div>
            <div class="right">
              <h6>I am a returning customer</h6>
              <span class="label">E-mail Address:</span>
              <input type="text" value="" name="name"/>
              <br/>
              <br/>
              <span class="label">Password:</span>
              <input type="text" value="" name="name"/>
              <a href="#" class="forgotten">Forgotten Password?</a> <a class="button" id="button-login"><span>Login</span></a>
	    </div>
            <div class="stitched"></div>

          </div>
        </div>
	{% endif %}
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<!-- END OF CONTENT --> 
{%endblock content %}
