{% extends "spicy/header.html" %}

{%block title %}
Category :: Liquorfox
{%endblock title %}

{%block scripts%}

{{block.super}}

<script>
  function updateView(page){
  page=page?page:1;
  var show=$(".limit :selected").val();
  var sort=$(".sort :selected").val();
  window.location="{% url category drink_type  %}"+"?page="+page+"&show="+show+"&sort_by="+sort;
  {% comment %} {% endcomment %}
  };
</script>

{% endblock scripts%}


{% block content %}
<klkjdiv id="content_holder" class="fixed">
  <div class="inner">
    <div class="breadcrumb"> <a href="{% url index %}">Home</a> » Desktops </div>
    <div class="box">
      <h2 class="heading-title"><span>Antipasti</span></h2>
      <div class="box-content">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </div>
    <div class="product-filter">
      <div class="product-compare"><a href="#" id="compare_total">Product Compare (0)</a></div>
      <div class="limit"><b>Show:</b>
        <select>
          <option value="10" selected="selected">10</option>
          <option value="20">20</option>
          <option value="50">50</option>
           <option value="100">100</option>
        </select>
      </div>
      <div class="sort"><b>Sort By:</b>
        <select>
          <option value="a_z">Name (A - Z)</option>
          <option value="z_a">Name (Z - A)</option>
          <option value="price_low">Price (Low &gt; High)</option>
          <option value="price_high">Price (High &gt; Low)</option>
        </select>
      </div>
      <button id="updateButton" type="button" onclick="updateView(null);">Update</button>
    </div>
    
    <!-- LEFT COLUMN -->
    <div id="column-left">
      <div class="box">
        <h3 class="heading-title"><span>Categories</span></h3>
        <div class="box-content box-category">
          <ul>
	    {% for type,count in types.items %}
	    <li><a href="{% url category type %}">{{type}} ({{count}})</a>
	      {% endfor %}
          </ul>
        </div>
      </div>
      <div class="box">
        <h3 class="heading-title"><span>Bestsellers</span></h3>
      </div>
    </div>
    <!-- END OF LEFT COLUMN -->
    
    <div id="content" class="content-column-left">
      <div class="cat_list fixed">
	{% comment %}
	{% for bev in beverages %}
	<div class="prod_hold"> <a class="wrap_link" href="{% url product bev.id %}">
            <span class="image"><img class="gallery" src="{{ bev.pic_url }}" alt="Liquorfox store" />
	      <p class="name" >{{bev.name}}</p>
	    </span>

          </a>
          <div class="pricetag_small"><span class="price">{{bev.price}}</span> </div>

          <div class="info">
            <h3>{{bev.name}}</h3>
            <p>{{bev.description}}</p>
	    <select class="selector" >
	      <option value="testing" selected="selected">size</option>
	      <option value="testing" >200ml</option>
	      <option value="testing2" >50ml</option>
	    </select>
            <a class="add_to_cart_small" href="{% url add_to_cart bev.id%}?next={{request.path}}">Add to cart</a>
	    <a class="wishlist_small" href="#">Wishlist</a> <a class="compare_small" href="{% url compare_add beverage_id=bev.id %}?next={{request.path}}">Compare</a> </div>
        </div>
	{% endfor %}
	{% endcomment %}
	{% for bev in beverages %}
	<div class="prod_hold"> <a class="wrap_link" href="{% url product bev.id %}">
	    <span class="image"><img class="gallery" src="{{ bev.pic_url }}" alt="Liquorfox store" />
	      <p class="name" >{{bev.name}}</p>
	    </span>
	    
	  </a>
	  <div class="pricetag_small"><span class="price">{{bev.price}}</span> </div>
	  
	  <div class="info">
	    <h3>{{bev.name}}</h3>
	    <p>{{dev.description}}</p>
	    <select class="select_size" >
	      <option value="testing" selected="selected">size</option>
	      <option value="testing" >200ml</option>
	      <option value="testing" >200ml</option>
	      <option value="testing" >200ml</option>
	      <option value="testing2" >50ml</option>
	    </select>
	    <a class="add_to_cart_small" href="{% url add_to_cart bev.id%}?next={{request.path}}">Add to cart</a>
	    <a class="wishlist_small" href="#">Wishlist</a>
	    <a class="compare_small" href="{% url compare_add beverage_id=bev.id %}?next={{request.path}}">Compare</a>
	  </div>
	</div>
	{% endfor %}
	<div class="clear"></div>
      </div>
      <div class="pagination">
	<div class="links"> <b>1</b> <a href="#">2</a> <a href="#">&gt;</a> <a href="#">&gt;|</a> </div>
	<div class="results">Showing 1 to 12 of 23 (2 Pages)</div>
      </div>
    </div>
  </div>
</div>

{%endblock content %}
