{% extends "spicy/header.html" %}

{%block title %}
Product Comparison :: Liquorfox
{%endblock title %}

{%block content%}

<!-- CONTENT -->
<div id="content_holder">
  <div class="inner">
    <div class="breadcrumb"> <a href="{% url index %}">Home</a> » Product Comparison</div>
    <h2 class="heading-title"><span>Product Comparison</span></h2>
    <div id="content">
      <table class="compare-info">
        <thead>
          <tr>
            <td colspan="4">Product Details</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Product</td>
	    {% for bev in compare_beverages %}
	    <td class="name"><a href="{%url product bev.id %}">{{bev.name}}</a></td>
	    {% endfor %}
          </tr>
          <tr class="even">
            <td>Image</td>
	    {% for bev in compare_beverages %}
	    <td class="image"><img src="{{bev.pic_url}}" alt="{{bev.name}}" /></td>
	    {% endfor %}
          </tr>
          <tr>
            <td>Category</td>
	    {% for bev in compare_beverages %}
	    <td> {{bev.type1}} </td>
	    {% endfor %}
          </tr>
          <tr class="even">
            <td>Model</td>
	    {% for bev in compare_beverages %}
            <td>Product 16</td>
	    {% endfor %}

          </tr>
	  {% comment  %}
          <tr>
            <td>Brand</td>
	    {% for bev in compare_beverages %}
            <td>Product 16</td>
	    {% endfor %}
	    
            <td>McDonalds</td>
            <td>Burger King</td>
            <td>Domino's Pizza</td>
          </tr>
          <tr class="even">
            <td>Availability</td>
            <td>In Stock</td>
            <td>In Stock</td>
            <td>In Stock</td>
          </tr>
          <tr>
            <td>Rating</td>
            <td><img alt="Based on 0 reviews." src="{{ STATIC_URL }}image/stars-2.png"/><br/>
              Based on 3 reviews.</td>
            <td><img alt="Based on 0 reviews." src="{{ STATIC_URL }}image/stars-5.png"/><br/>
              Based on 12 reviews.</td>
            <td><img alt="Based on 0 reviews." src="{{ STATIC_URL }}image/stars-3.png"/><br/>
              Based on 7 reviews.</td>
          </tr>
          <tr class="even">
            <td>Summary</td>
            <td class="description"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever..</td>
            <td class="description"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever..</td>
            <td class="description"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever..</td>
          </tr>
          <tr>
            <td>Weight</td>
            <td>0.00kg</td>
            <td>0.00kg</td>
            <td>0.00kg</td>
          </tr>
          <tr class="even">
            <td>Dimensions (L x W x H)</td>
            <td>0.00mm x 0.00mm x 0.00mm</td>
            <td>0.00mm x 0.00mm x 0.00mm</td>
            <td>0.00mm x 0.00mm x 0.00mm</td>
          </tr>
        </tbody>
        <thead>
          <tr>
            <td colspan="4">Memory</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>test 1</td>
            <td>8gb</td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
        <thead>
          <tr>
            <td colspan="4">Processor</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>No. of Cores</td>
            <td>1</td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td></td>
            <td><a class="button" href="#"><span>Add to Cart</span></a></td>
            <td><a class="button" href="#"><span>Add to Cart</span></a></td>
            <td><a class="button" href="#"><span>Add to Cart</span></a></td>
          </tr>
	  {% endcomment %}
          <tr>
            <td></td>
	    {% for bev in compare_beverages %}
	    <td><input type="hidden" value="43" name="remove"/>
              <a href="{% url compare_delete beverage_id=bev.id %}?next={{request.path}}"><span>Remove</span></a></td>
            {% endfor %}
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- END OF CONTENT --> 
{%endblock content %}
