{% extends "spicy/header.html" %}
{% block title %}Contact us :: Liquorfox{%endblock title%}

{% block content %}
<!-- CONTENT -->
<div id="content_holder" class="fixed">
  <div class="inner">
    <div class="breadcrumb"> <a href="index.html">Home</a> » Contact Us </div>
    <h2 class="heading-title"><span>Contact Us</span></h2>
    
    <!-- LEFT COLUMN -->
    <div id="column-left">
      <div class="box">
        <h3 class="heading-title"><span>Our Location</span></h3>
        <div class="box-content box-contact-details">
          <ul>
            <li class="address"> <span>Address:</span><br />
              Spicylicious Store<br />
              1715 Sofia, Bulgaria<br />
              Mladost 4 </li>
            <li class="phone"> <span>Telephone:</span><br />
              +359 2 123 45 67</li>
            <li class="fax"> <span>Fax:</span><br />
              +359 2 123 45 67</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- END OF LEFT COLUMN -->
    
    <div id="content" class="content-column-left">
      <div class="content contacts-page">
        <div class="box-contacts fixed">
          <div class="box-content">
            <div class="stitched"></div>
            <div class="form"> <span class="label">Your Name:</span>
              <input type="text" value="" name="name"/>
              <br/>
              <br/>
              <span class="label">E-mail Address:</span>
              <input type="text" value="" name="name"/>
              <br/>
              <br/>
              <span class="label">Enquiry:</span>
              <textarea style="width: 98%;" rows="10" cols="40" name="text"></textarea>
              <br/>
              <br/>
              <span class="label">Enter the code in the box below:</span>
              <input type="text" value="" name="captcha"/>
              <br/>
              <img id="captcha" alt="" src="image/captcha.jpg"/> <br/>
            </div>
            <div class="stitched"></div>
          </div>
        </div>
        <div class="clear"></div>
        <div class="buttons">
          <div class="left"><a class="button" id="button-contact"><span>Submit</span></a></div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<!-- END OF CONTENT --> 
{%endblock content %}
