{% extends "liquorfox_core/base.html" %}
{% load cache %}
{% block head%}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{%block title %} Home :: Liquorfox {%endblock title %}</title>
{%block scripts %}
<link rel="stylesheet" href="{{STATIC_URL}}stylesheet/stylesheet.css" type="text/css" media="screen" />
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'/>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}stylesheet/jquery-ui-1.8.9.custom.css" />
<!-- jQuery and Custom scripts -->
<script src="{{STATIC_URL}}js/jquery-1.5.2.min.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}js/jquery.cycle.lite.1.0.min.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}js/custom_scripts.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}js/jquery.roundabout.min.js" type="text/javascript"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-1.8.9.custom.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/tabs.js"></script>
<script>
  $(function() {
  var cache = {},
  lastXhr;
  $( "#search" ).autocomplete({
  minLength: 2,
  source: function( request, response ) {
  var term = request.term;
  if ( term in cache ) {
  response( cache[ term ] );
  return;
  }

  lastXhr = $.getJSON( "{% url drinks_search %}", request, function( data, status, xhr ) {
  cache[ term ] = data;
  if ( xhr === lastXhr ) {
  response( data );
  }
  });
  }
  });
  });
</script>
<!-- Tipsy -->
<script src="{{STATIC_URL}}js/tipsy/jquery.tipsy.js" type="text/javascript"></script>
<link href="{{STATIC_URL}}stylesheet/css.tipsy.css" rel="stylesheet" type="text/css" />
{%endblock scripts %}
{% endblock head %}

{% block body %}
{% block sidefeatures %}
{% endblock sidefeatures %}

{% cache 5 header%}
{% block header %}
<div id="header">
  <div class="inner">
    <ul class="main_menu menu_left">
      <li><a href="{% url account %}">My Account</a></li>
      <li><a href="{% url wish %}">Wish List <b>(3)</b></a></li>
    </ul>
    <div id="logo"><a href="{% url index %}"><img src="{{STATIC_URL}}image/logo.png" width="217" height="141" alt="Spicylicious store" /></a></div>
    <ul class="main_menu menu_right">
      <li><a href="{% url compare %}">Compare</a></li>
      <li><a href="{% url cart %}">Shopping Cart</a></li>
      <li><a href="{% url checkout %}">Checkout</a></li>
      <li><a href="{% url contact %}">Contact Us</a></li>
    </ul>
    {% if user.is_authenticated %}
    <div id="welcome"> Welcome  <a href="#">{% firstof user.first_name user.username %}</a> </div>
    {% else %}
    <div id="welcome"> Welcome visitor you can <a href="#">login</a> or <a href="#">create an account</a>. </div>
    {% endif %}
    <div id="search" class="search">
      <form action="" method="post" id="search_form" onSubmit="return false;return handleSubmit('search');">
	<input class="searchbar" type="text" id="search"  name="search" size="45" maxlength="300"  x-webkit-speech />
	<input class="gobutton" type="submit" id="go_button"  value="Go" >
      </form>
    </div>


    <div class="menu">
      <ul id="topnav">
	{% for type,count in types.items %}
	        <li><a href="{% url category type %}">{{type}}</a>
	{% endfor %}
	{% comment %}	  
	<li><a href="{% url category %}">Pizza</a>
	  <ul class="children">
	    <li><a href="{% url category %}">Pizza</a></li>
	    <li><a href="{% url category %}">Lasagna</a>
              <ul class="children2">
                <li><a href="{% url category %}">Pizza</a></li>
                <li><a href="{% url category %}">Lasagna</a></li>
                <li><a href="{% url category %}">Spaghetti</a></li>
                <li><a href="{% url category %}">Penne</a></li>
                <li><a href="{% url category %}">Canelonni</a></li>
              </ul>
	    </li>
	    <li><a href="{% url category %}">Spaghetti</a></li>
	    <li><a href="{% url category %}">Penne</a></li>
	    <li><a href="{% url category %}">Canelonni</a></li>
	  </ul>
        </li>
        <li><a href="{% url category %}">Lasagna</a>
	  <ul class="children">
	    <li><a href="{% url category %}">Pizza</a></li>
	    <li><a href="{% url category %}">Lasagna</a>
              <ul class="children2">
                <li><a href="{% url category %}">Pizza</a></li>
                <li><a href="{% url category %}">Lasagna</a></li>
                <li><a href="{% url category %}">Spaghetti</a></li>
                <li><a href="{% url category %}">Penne</a></li>
                <li><a href="{% url category %}">Canelonni</a></li>
              </ul>
	    </li>
	    <li><a href="{% url category %}">Spaghetti</a></li>
	    <li><a href="{% url category %}">Penne</a></li>
	    <li><a href="{% url category %}">Canelonni</a></li>
	  </ul>
        </li>
        <li><a href="{% url category %}">Spaghetti</a></li>
        <li><a href="{% url category %}">Penne</a>
	  <ul class="children">
	    <li><a href="{% url category %}">Pizza</a></li>
	    <li><a href="{% url category %}">Lasagna</a>
              <ul class="children2">
                <li><a href="{% url category %}">Pizza</a></li>
                <li><a href="{% url category %}">Lasagna</a></li>
                <li><a href="{% url category %}">Spaghetti</a></li>
                <li><a href="{% url category %}">Penne</a></li>
                <li><a href="{% url category %}">Canelonni</a></li>
              </ul>
	    </li>
	    <li><a href="{% url category %}">Spaghetti</a></li>
	    <li><a href="{% url category %}">Penne</a></li>
	    <li><a href="{% url category %}">Canelonni</a></li>
	  </ul>
        </li>
        <li><a href="{% url category %}">Canelonni</a></li>
        <li><a href="{% url category %}">Fettuchini</a></li>
        <li><a href="{% url category %}">Risotto</a></li>
        <li><a href="{% url category %}">Antipasti</a></li>
        <li><a href="{% url category %}">Bar-B-Q</a></li>
        <li><a href="{% url category %}">Desserts</a></li>
      </ul>
      {% endcomment %}
    </div>
  </div>
</div>
{% endblock header %}
{% endcache %}

{%block content %}
{%endblock content%}

{% block footer %}
<!-- FOOTER -->
<div id="footer">
  <div class="inner">
    <div class="column_big"> 
      <!-- FOOTER MODULES AREA -->
      <div class="footer_modules">
        <h3>About spicylicious</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
      </div>
      <!-- END OF FOOTER MODULES AREA -->
      <div class="footer_social">
        <h3>Spread the word</h3>
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style "><script type="text/javascript">
	    //<![CDATA[
            document.write('<a class="addthis_button_google_plusone" g:plusone:size="medium"></a> <a class="addthis_button_tweet"></a> <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>');
      //]]>
	  </script> 
        </div>
        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e7280075406aa87"></script> 
        <!-- AddThis Button END --> 
      </div>
    </div>
    <div class="column_small">
      <h3>Customer Service</h3>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">My Account</a></li>
        <li><a href="#">Order History</a></li>
        <li><a href="#">Wishlist</a></li>
        <li><a href="#">Returns</a></li>
      </ul>
    </div>
    <div class="column_small">
      <h3>Information</h3>
      <ul>
        <li><a href="#">Delivery Information</a></li>
        <li><a href="#">Privacy policy</a></li>
        <li><a href="#">Terms and conditions</a></li>
        <li><a href="{% url contact %}">Contact Us</a></li>
      </ul>
    </div>
    <div class="column_small">
      <h3>Extras</h3>
      <ul>
        <li><a href="#">Brands</a></li>
        <li><a href="#">Specials</a></li>
      </ul>
    </div>
    <div class="clear"></div>
    <span class="copyright">Spicylicious theme by <a href="http://themeforest.net/user/Koev/portfolio?ref=Koev">Dimitar Koev - theAlThemist</a>. </span> </div>
</div>
<!-- END OF FOOTER --> 
{%endblock footer %}

{%block pre_footer%}
<!-- PRE-FOOTER -->
<div id="pre_footer">
  <div class="inner">
    <div id="twitter_div"> <a class="twitter_follow" href="http://twitter.com/IGN" title="Follow Us on Twitter">Follow Us on Twitter</a> <a id="tweet_prev" href="#">Previous</a> <a id="tweet_next" href="#">Next</a>
      <ul id="twitter_update_list">
        <li>&nbsp;</li>
      </ul>
    </div>
  </div>
</div>
<!-- END OF PRE-FOOTER --> 
{%endblock pre_footer%}
<script type="text/javascript" src="http://twitter.com/javascripts/blogger.js"></script> 
<script type="text/javascript" src="http://twitter.com/statuses/user_timeline/d_koev.json?callback=twitterCallback2&amp;count=3"></script> 
<script type="text/javascript"><!--
				  $(document).ready(function() {
				  $('#twitter_update_list').cycle({
				  fx: 'fade', // choose your transition type, ex: fade, scrollUp, shuffle, etc...
				  next:   '#tweet_next', 
    				  prev:   '#tweet_prev'
				  }); 
				  });
				  //--></script> 
<script type="text/javascript">
  $(document).ready(function() {
  var interval;
  $('ul#myRoundabout')
  .roundabout({
  'btnNext': '.next_round',
  'btnPrev': '.previous_round' 
  }
  )
  .hover(
  function() {
  
  clearInterval(interval);
  },
  function() {
  
  interval = startAutoPlay();
  });

  interval = startAutoPlay();
  });
  function startAutoPlay() {
  return setInterval(function() {
  $('ul#myRoundabout').roundabout_animateToPreviousChild();
  }, 3000);
  } 
</script>
{% endblock body %}

