{% extends "spicy/header.html" %}
{%block title %}Home :: Liquorfox {%endblock title %}
{%block content%}
<div id="container"> 
  <div id="content_holder" class="fixed">
    <div class="inner">
      <div id="content">
        <div class="box featured-box">
          <h2 class="heading-title"><span>Featured Products</span></h2>
          <div class="box-content">
	    <ul id="myRoundabout">
	      <li>
		{% comment %}
                <div class="prod_holder"> <a href="{% url product %}"> <img src="{{STATIC_URL}}image/pizza.jpg" alt="Spicylicious store" /> </a>
                  <h3>Pizza Peperoni</h3>
                </div>
                <span class="pricetag">$ 1400,99</span> </li>
	      <li>
                <div class="prod_holder"> <a href="{% url product %}"> <img src="{{STATIC_URL}}image/pizza2.jpg" alt="Spicylicious store" /> </a>
                  <h3>Pizza Caprichosa</h3>
                </div>
                <span class="pricetag">$ 99,99</span> </li>
	      <li>
                <div class="prod_holder"> <a href="{% url product %}"> <img src="{{STATIC_URL}}image/pizza3.jpg" alt="Spicylicious store" /> </a>
                  <h3>Something delicious</h3>
                </div>
                <span class="pricetag">$ 140,99</span> </li>
	      <li>
                <div class="prod_holder"> <a href="{% url product %}"> <img src="{{STATIC_URL}}image/pizza4.jpg" alt="Spicylicious store" /> </a>
                  <h3>Potato Noisettes</h3>
                </div>
                <span class="pricetag">$ 27,99</span> </li>
	      <li>
                <div class="prod_holder"> <a href="{% url product %}"> <img src="{{STATIC_URL}}image/pizza5.jpg" alt="Spicylicious store" /> </a>
                  <h3>Veal steak (medium rare)</h3>
                </div>
                <span class="pricetag">$ 14000,99</span> </li>
	      <li>
                <div class="prod_holder"> <a href="{% url product %}"> <img src="{{STATIC_URL}}image/pizza.jpg" alt="Spicylicious store" /> </a>
                  <h3>Peperoni pizza</h3>
                </div>
                <span class="pricetag">$ 73,99</span> </li>
	      <li>
                <div class="prod_holder"> <a href="{% url product %}"> <img src="{{STATIC_URL}}image/pizza2.jpg" alt="Spicylicious store" /> </a>
                  <h3>Peperoni pizza</h3>
                </div>
                <span class="pricetag">$ 1999,99</span> </li>
	      <li>
                <div class="prod_holder"> <a href="{% url product %}"> <img src="{{STATIC_URL}}image/pizza3.jpg" alt="Spicylicious store" /> </a>
                  <h3>Peperoni pizza</h3>
                </div>
                <span class="pricetag">$ 14,99</span> </li>
	      {%endcomment%}
	    </ul>
	    <a href="#" class="previous_round">Previous</a> <a href="#" class="next_round">Next</a> </div>
        </div>
        <div class="box">
          <h2 class="heading-title"><span>Welcome to Spicylicious</span></h2>
          <div class="box-content">
	    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          </div>
        </div>
        <div class="box">
          <div class="banner">
	    <div><a href="#"><img src="{{STATIC_URL}}image/banner1.jpg" alt="Spicylicious store" /></a></div>
	    <div><a href="#"><img src="{{STATIC_URL}}image/banner2.jpg" alt="Spicylicious store" /></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock content%}
