{% extends "listings/base.html" %}
{% block head %}
{{ block.super }}

<link type="text/css" rel="stylesheet" href="/media/css/styles.css">
<script type="text/javascript" src="/media/js/dimensions.js"></script>
<script type="text/javascript" src="/media/js/jquery.autocomplete.js"></script>
<script type="text/javascript">
  
  //<![CDATA[



    var a1;

    jQuery(function () {

        var onAutocompleteSelect = function(value, data) {

            $('#selection').html('<img src="\/global\/flags\/small\/' + data + '.png" alt="" \/> ' + value);

        };


        var options = {

            serviceUrl: '/beverage_search/',

            width: 384,

            minChars:1,

            delimiter: /(,|;)\s*/,

            onSelect: onAutocompleteSelect,

            deferRequestBy:0, //miliseconds


            noCache: false //set to true, to disable caching

        };

        a1 = $('#query').autocomplete(options);

        $('#navigation a').each(function () {

            $(this).click(function (e) {

                var element = $(this).attr('href');

                $('html').animate({ scrollTop: $(element).offset().top }, 300, null, function () { document.location = element; });

                e.preventDefault();

            });

        });



    });



//]]>
</script>

{% endblock head %}

{% block title %}LiquorFox Home{% endblock title %}


{% block header %}
{{block.super}}

{% for bev in beverages%}
<h2>{{ bev.name }}</h2>
<p>{{ bev.description }}</p>
{% endfor %}
{% endblock header %}

{% block content %}
{{ block.super}}

<div class="autocomplete-w1">
  
  <div class="ui-widget">
    
    
    <label>Beverage:</label><br />
    
    <input class="textbox" id="query" type="text" /> <label><input type="checkbox" onclick="this.checked ? a1.disable() : a1.enable();" />Disable autocomplete</label>
    
  </div>
  
  
</div>



{% endblock content %}
