/*Given Layout*/
body
{background: #FFFFFF; font-family: Arial, Helvetica, sans-serif; color: #999999; font-size: 10px; margin: 0px; padding: 0px; overflow: hidden;}

h1, p, ul, ol, img
{margin: 0px; padding: 0px;}

a
{text-decoration: underline; color:#000000; }
a:hover
{text-decoration: none; color:#000000;}

.background-image {width: 100%; position: absolute; top: 0; left: 0; z-index: -5000;}

#wrap
{width: 900px; margin: 0 auto; min-height: 100%; height: auto !important;}
#logo{border: 0px; width: 25%; padding: 0 0 0 15px;  position: absolute; top: 20px; display: block;}

/*Styles unique to landing page*/
.quest
{position: absolute; margin-left: -240px; left: 536px;  margin-bottom: 20px;
width: 550px; top: 170px; 
background: -moz-linear-gradient(center top , #FFFFFF 60%, #E6E6E6 100%) repeat scroll 0 0 #FFFFFF; border: 1px solid #FFFFFF; border-radius: 10px 10px 10px 10px; box-shadow: 2px 2px 2px #B0AEA6; padding: 10px;}

.steps
{float: left;}

.steps input
{background: #FFFFFF; color: #000000; font-size: 40px; border: 1px black solid; vertical-align: top; margin-top: 10px; margin-left: 15px;}

.ageverif
{moz-border-radius: 10px;
webkit-border-radius: 10px;
border-radius: 10px; /* future proofing */
khtml-border-radius: 10px; /* for old Konqueror browsers */}

#signin
{font-size: 12px; display: block; text-align: right;}
