{% extends "listings/base.html" %}
{% load i18n %}
{% block head %}
{{ block.super }}
{% endblock head %}
{% block header %}
<h1>THE SITE IS UNDER CONSTRUCTION</h1>
<a href="{% url login %}">{% trans "Login" %}</a>
{{ block.super}}
{% endblock header %}
