<html>
<head>
	<title>Liquorfox</title>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/index.css" type="text/css" media="screen"/>

</head>
<body>
  <h1>SITE IS UNDER CONSTRUCTION</h1>
  <a href="{% url admin:index %}">Login</a>
</body>
</html>
