{% extends "spicy/header.html" %}
{%block title %}404 - oops... page not found :: LiquorFox
{%endblock title%}
<!-- CONTENT -->
{%block content%}
<div id="content_holder">
  <div class="inner">
    <div class="breadcrumb"> <a href="{% url index %}">Home</a> » 404 - page not found</div>
    <h2 class="heading-title"><span>Ooops... something went wrong!</span></h2>
    
    <div id="content">
      <div class="content not-found">
        <h1 class="oops">404</h1>
        <p>It seems the page you're looking for isn't here! You could go back to <a href="{url index %}">home page</a> or search the site:</p>
        <div class="search">
          <input type="text" onkeydown="this.style.color = '#000000';" onclick="this.value = '';" value="Search" name="filter_name"/>
          <a href="#" class="button-search"></a> </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
{%endblock content%}


