{% extends "base.html" %}
{% block title %}
Edit Profile
{% endblock %}

{% block content_title%}
<h1>{{ user }}'s Profile Page </h1>
{% endblock content_title%}
{% block content %}
<p><strong>Name :</strong><br>{{ profile.user.first_name }} {{profile.user.last_name}}</p>
<p><strong>Birthday:</strong><br>
  {{ profile.birthday }}
</p>
{% endblock content %}
