{% extends "base.html" %}
{% block title %}
Edit Profile
{% endblock %}

{% block content_title%}
<h1>LiquorFox Users Page </h1>
{% endblock content_title%}
{% block content %}
{% for p in object_list  %}
<a href="{% url profiles_profile_detail p.user %}">{{ p }}</a>>
{% endfor %}
{% endblock content %}

